.container
    .row
        .col-md-4.col-sm-6.klaus
            p
                | 
            p
                i.fa.fa-map-pin
                |  Essen, ThyssenKrupp
            p
                i.fa.fa-phone
                |  Phone (Germany) : +99 99999999
            p
                i.fa.fa-envelope
                |  E-mail : info@info.com
        .col-md-3.col-sm-6.paddingtop-bottom
    // footer start from here
    .copyright
        .container
            .col-md-6
                p © 2017 - All Rights Reserved. Team Rocket

