nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/')
        img(alt='Brand', src='/images/logo.png')
    // Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          .logo we.match
      ul.navbar.navbar-right
        button.btn.btn-default(type='button', value='Input Button', onclick='registration()') Register
        button.btn.btn-default(type='button', value='Input Button', onclick='login()') Login
    // /.navbar-collapse
  // /.container-fluid

script.
  function registration()
  {
  location.href = "/register";
  }
  
  function login()
  {
    location.href = "/login";
  }

