extends layout

block content
  .hero-image
    .hero-text
      h1 Post your in-house project.
      h2 We find just the people you need.
      button.btn.btn-default.hero-button(type='button', value='Input Button', onclick='registration()') Register
    

  script.
    function registration()
    {
    location.href = "/register";
    }